@import "tailwindcss";



@layer components {
    button {
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: #835aff;
        border: 1px solid #835aff;
        color: white;
        transition: all 0.2s ease-in-out;
    }

    button:hover {
        background-color: #fff;
        border: 1px solid #835aff;
        color: #835aff;
    }
    input {
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        border: 2px solid #b5b5b5;
        background-color: var(--light-grey);
    }
    input[type="range"] {
  pointer-events: none;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--secondary);
  cursor: pointer;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  list-style: none;
}
summary::marker {
  content: "";
}
}
:root {
    --accent: #f98a0a;
    --secondary: #835aff;   
    --black: #1e1e1e;
    --light-grey: #f0f0f0;
    --dark-grey: #464646;
}
@layer utilities {
  .spinner {
    width: 64px;
    height: 64px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
  }
  .spinner circle {
    fill: none;
    stroke: #4285F4;
    stroke-width: 6;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
   .scrollbar-hide::-webkit-scrollbar {
    display: none;             
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-185%);
  }
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
@keyframes dash {
 0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 124, 200;
      stroke-dashoffset: -49px;
    }
    100% {
      stroke-dasharray: 124, 200;
      stroke-dashoffset: -173px;
    }
}